{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless image_size %}
  {%- assign image_size = '600x600' -%}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid-item {{ grid_item_width }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  <a href="{{ product.url }}" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% if sold_out %}
          <div class="badge badge--sold-out"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
        {% endif %}

        {% if product.featured_image %}
          {%- assign image = product.featured_image -%}
          {%- assign max_width = width | plus: 0 -%}
          {%- assign max_height = height | plus: 0 -%}

          {%- include 'image-logic' with width: max_width, height: max_height -%}

          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div class=" lazyload__image-wrapper no-js" style="max-width: {{ max_width }}px">
            <div class="" style=" padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
              <img
                class="lazyload no-js custom-product-image"
                data-src="{{ img_url }}"
                data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ image.alt | escape }}"
                {% comment %}style="max-height: {{ height }}px;">{% endcomment %}>
            </div>
          </div>
          <noscript>
           <img src="{{ image | img_url: '580x' }}"
             srcset="{{ image | img_url: '580x' }} 1x, {{ image | img_url: '580x', scale: 2 }} 2x"
             alt="{{ image.alt }}" style="opacity:1;">
         </noscript>

        {% else %}
        {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
        <div>
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
      </div>
    </div>

    <p class="text-center product-item-title">{{ product.title }}</p>

    <div class="product-item--price text-center">

      <span class="h5">
        {% if on_sale %}
          <span class="visually-hidden">{{ "products.general.sale_price" | t }}</span>
        {% else %}
          <span class="visually-hidden">{{ "products.general.regular_price" | t }}</span>
        {% endif %}
        {% if on_sale and section.settings.product_show_compare_at_price %}
          <small>
            <s>
              <span class="visually-hidden">{{ "products.general.regular_price" | t }}</span>
              {% include 'price' with product.compare_at_price %}
            </s>
          </small>
        {% endif %}
        {% include 'price' with product.price %}
      </span>

      {%- if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.unit_price_measurement -%}
        {% include 'product-unit-price', variant: product.selected_or_first_available_variant %}
      {%- endif -%}
    </div>
  </a>
  {% capture "form_class" -%}
  addToCartForm{% if section.settings.enable_payment_button %} addToCartForm--payment-button{% endif %}
{%- endcapture %}

{%- capture "form_id" -%}addToCartForm-{{ section.id }}{%- endcapture -%}

{% form 'product', product, class:form_class, id:form_id, data-product-form: '' %}
  {{ form | payment_terms }}

  <select name="id" id="productSelect-{{ section.id }}" class="product-variants product-variants-{{ section.id }}" {% if product.has_only_default_variant %} data-has-only-default-variant {% endif %}>
    {% for variant in product.variants %}
      {% if variant.available %}

        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if section.settings.product_quantity_enable and section.id !="product-custom-template"%}
    <label for="quantity" class="quantity-selector quantity-selector-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
  {% endif %}

  {% if section.settings.product_quantity_message %}
    <div id="variantQuantity-{{ section.id }}" class="variant-quantity {% if variant.inventory_management and variant.inventory_quantity < 10 and variant.inventory_quantity > 0 %} is-visible{% endif %}">
        {% include 'svg-definitions' with 'stock-icon' %}
          {% assign qty = variant.inventory_quantity %}
          <span id="variantQuantity-{{ section.id }}__message">{{ 'products.product.only_left' | t: count: qty }}</span>
    </div>
  {% endif %}

  {% if section.settings.product_incoming_message %}
    <div id="variantIncoming-{{ section.id }}" class="variant-quantity {% if variant.inventory_management and variant.inventory_quantity <= 0 and variant.incoming %} is-visible{% endif %}">
      {% if variant.inventory_management and variant.inventory_quantity == 0 or variant.inventory_quantity < 0 and current_variant.incoming %}
        {% include 'svg-definitions' with 'stock-icon' %}
        {% if variant.available %}
          {% assign date = variant.next_incoming_date | date: format: 'date' %}
          <span id="variantIncoming-{{ section.id }}__message">{{ 'products.product.will_not_ship_until' | t: date: date  }}</span>
        {% else %}
          {% assign date = variant.next_incoming_date | date: format: 'date' %}
          <span id="variantIncoming-{{ section.id }}__message">{{ 'products.product.will_be_in_stock_after' | t: date: date }}</span>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <div class="payment-buttons custom-payment-buttons payment-buttons--{{ section.settings.add_to_cart_button_size }}">
    <button type="submit" name="add" id="addToCart-{{ section.id }}" >
      <span id="addToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
    </button>

    {% if section.settings.enable_payment_button %}
      {{ form | payment_button }}
    {% endif %}
  </div>
{% endform %}
</div>
